<div id="randomized-banner-container" style="aspect-ratio:{{siteSettings.banner_aspect_ratio}} ; width: 100%">
  <img id="randomized-banner" src="{{this.bannerSrc}}" fetchpriority="high" alt="forum banner"/>
</div>
