<div id="randomized-banner-container" style="aspect-ratio:{{siteSettings.banner_aspect_ratio}} ; max-height:{{siteSettings.banner_max_height}}">
  <img id="randomized-banner" src="{{this.bannerSrc}}" fetchpriority="high" alt="forum banner"/>
</div>
