#randomized-banner-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 0.25em;
}

#randomized-banner {
  width: 100%;
  max-height: 100%;
}

.has-full-page-chat #randomized-banner-container {
  display: none;
}
